.my-preloader.hidden
    .loader
        - for (var x = 0; x < 25; x++)
        div

header
    .container
        .row
            .col-sm-3
                .logo
                    h1 FBBucks
            .col-sm-4
            .col-sm-5
                ul
                    each val, index in {1:'Home',2:'About',3:'How it works',4:'Register'}
                        li
                            a(href="#")= val

    .container-fluid.cta-container
        .row
            .col-sm-8.col-sm-offset-2
                .cta-wrapper
                    hgroup
                        h1
                            | Earn
                            span  Mony
                            |  from <br> Your Facebook Account
                        h3 Get cash quickly, receive $100 simply by having a Fasebook account. Register today!
                        a(href="#").m-btn Register now
section
    .container
        .row
            .col-sm-12
                .section-title
                    h2 Get your cash in three simple steps
main

    .container
        .row

        mixin artical
            article
                .row
                    .col-xs-12
                        .art-head
                            h2 Look Pa, I'm html-developer!
                .row
                    .col-xs-8
                        .img-box
                            img(src="/img/2.jpg" alt="cat")
                    .col-xs-4
                        ul.art-list
                            each val, index in ['The Beatles', 'The Rolling Stones', 'U2', 'The Grateful Dead', 'Velvet Underground', 'Led Zeppelin']
                                li= val

                    .col-xs-12
                        .art-desc
                            p Mama oooooooooo no!
        //- Use
        +artical
        +artical