.my-preloader.hidden
    .loader
        - for (var x = 0; x < 25; x++)
        div

header
    .container
        .header-top-wrapper
            .row
                .col-sm-3
                    .logo
                        img(src="/img/logo.png" alt="FBBucks")
                .col-sm-4
                .col-sm-5
                    ul
                        each val, index in {1:'Home',2:'About',3:'How it works',4:'Register'}
                            li
                                a(href="#")= val

    .container
        .cta-top-wrapper
            .row
                .col-sm-6
                    .cta-wrapper
                        hgroup
                            h1
                                span.thin-t Earn
                                span.accent-t  Money
                                span.thin-t  from <br>
                                span.thin-t your
                                |  Facebook Account
                            a(href="#").m-btn Know more
                            a(href="#").m-btn Register now
                .col-sm-6.cta-bg
                    img(src="/img/cta-bg.png" alt="Your Wallet")

section
    .container-fluid.description-section
        .container
            .row
                .col-sm-12
                    .description
                        p We’re a large marketing company that specializes in Facebook Advertising. We’re expanding at such a rate that we need access to Facebook accounts in order to run our many ad campaigns for our growing client base. The best part about this is you wont notice ANY changes to your Facebook Account. We access only your business account(Everyone has one, most people just don’t know about it), and won’t access your personal account. This way, you can go on using your Facebook account without any unwanted interruptions.

                        p Your $100 payment will be sent via Paypal after our team determines your Facebook account is eligible. It is our #1 priority to determine your eligibility and process your payment as soon as possible. Assuming your account is eligible, we guarantee you’ll receive payment within at least 1 week. Paypal is the only payment method we use and if you don’t have Paypal, you can register today in less than 5 minutes. After registering, you must never log in to your business account or ad manager to interfere with any of our ad campaigns or your payment will be immediately withdrawn.

section
    .container
        .steps
            .row
                .col-sm-12
                    .section-title
                        h2 Get your cash in
                            span.accent-t  three
                            |  simple steps
                        span.arrow-down &#10148;
            .row
                .col-sm-4
                    .steps-item
                        .steps-img
                            img(src="/img/icons/submit-icon.svg" alt="submit")
                        h3 Submit The Form
                        .steps-devider
                        p Fill out the form below with all the required information. Your information will not be shared or used for any reason besides, “renting,” your business account for advertising purposes.
                .col-sm-4
                    .steps-item
                        .steps-img
                            img(src="/img/icons/msg-icon.svg" alt="msg")
                        h3 Confirm Eligibility
                        .steps-devider
                        p Our team will quickly review your application to verify you meet the basic requirements and ensure you get your deposit as quickly as possible.
                .col-sm-4
                    .steps-item
                        .steps-img
                            img(src="/img/icons/receive-icon.svg" alt="receive")
                        h3 Receive Payment
                        .steps-devider
                        p Once your account is approved, we will immediately transfer $100 to your Paypal account. (If you don’t have a Paypal account, you can set one up in less than 5 minutes)

section
    .container.qualif
        .row
            .col-sm-12
                .qualif-title
                    h2 Before you
                        span.accent-t  register
                        |, you must meet the following qualifications:
        .row
            .col-sm-10.col-md-offset-1
                .row
                    .col-sm-4
                        .qualif-item
                            .row
                                .col-sm-6
                                   .qualif-img
                                       img(src="/img/icons/friends-icon.svg" alt="friends")
                                .col-sm-6
                                    .qualif-text
                                        h4 100 Friends on Facebook
                                        p You must have a minimum of 100 friends on Facebook
                    .col-sm-4
                        .qualif-item
                            .row
                                .col-sm-6
                                    .qualif-img
                                        img(src="/img/icons/okfb-icon.svg" alt="friends")
                                .col-sm-6
                                    .qualif-text
                                        h4 Genuine  Facebook Account
                                        p The Facebook account must be YOURS
                    .col-sm-4
                        .qualif-item
                            .row
                                .col-sm-6
                                    .qualif-img
                                        img(src="/img/icons/location-icon.svg" alt="location")
                                .col-sm-6
                                    .qualif-text
                                        h4 United States Based Account
                                        p You must be based in the U.S.
                    .col-sm-4
                        .qualif-item
                            .row
                                .col-sm-6
                                    .qualif-img
                                        img(src="/img/icons/time-icon.svg" alt="time")
                                .col-sm-6
                                    .qualif-text
                                        h4 1 Year Old Account
                                        p Your Facebook account must be at least 1 year old
                    .col-sm-4
                        .qualif-item
                            .row
                                .col-sm-6
                                    .qualif-img
                                        img(src="/img/icons/add-icon.svg" alt="add")
                                .col-sm-6
                                    .qualif-text
                                        h4 Untouched Ad Account
                                        p You have never used your Facebook Ad Account/ Business Account
                    .col-sm-4
                        .qualif-item
                            .row
                                .col-sm-6
                                    .qualif-img
                                        img(src="/img/icons/pay-icon.svg" alt="pay")
                                .col-sm-6
                                    .qualif-text
                                        h4 PayPal Account
                                        p You must be based in the U.S.

section
    .container
        .submit-form
            .row
                form
                    .col-sm-6
                        .input-box
                            label Desired Username
                                span.alert-c *
                            input(type='text' placeholder='Username' required)

                    .col-sm-6
                        .input-box
                            label Full Name
                                span.alert-c *
                            input(type='text' placeholder='Full Name' required)

                    .col-sm-6
                        .input-box
                            label Desired Password
                                span.alert-c *
                            input(type='password' placeholder='*********' required)

                    .col-sm-6
                        .input-box
                            label Email
                                span.alert-c *
                            input(type='email' placeholder='johndavid@yahoomail.com' required)

                    .col-sm-6
                        .input-box
                            label PayPal Email
                                span.alert-c *
                            input(type='text' placeholder='PayPal ID' required)

                    .col-sm-6
                        .input-box.date-input
                            label DOB
                                span.alert-c *
                            input(type='date' placeholder='Date' required)

                    .col-sm-12
                        .input-box
                            label Facebook Profile URL
                                span.alert-c *
                            input(type='text' placeholder='' required)

                    .col-sm-12
                        button.button-submit(type='submit') Register now

footer
    .container-fluid
        .row
            .col-sm-12
                span © Copyright 2016 All Rigts Reserved | FBBucks.com
                a(href='#').terms
                    span.terms-icon
                    | Terms & Conditions