@import "bourbon/_bourbon"
@import "sass/_vars"
@import "sass/fonts"
@import "sass/preloader"

body
  font-size: 16px
  color: $m-text
  min-width: 320px
  position: relative
  line-height: 1.6
  font-family: 'Lato', sans-serif
  overflow-x: hidden

header
  .header-top-wrapper
    margin: 40px 0 120px

  .logo


  ul, li
    @extend .ul

  ul
    text-align: right
    li
      display: inline-block
      padding: 0 25px

      &:last-child
        padding-right: 0

      a
        @extend .trans
        display: inline-block
        color: $m-text
        font-size: 14px
        height: 90px
        line-height: 90px
        font-weight: 700
        text-transform: uppercase

        &:hover
          color: $m-accent
          text-decoration: none

  hgroup
    margin-top: 50px
    margin-bottom: 30px
    h1
      font-size: 45px
      line-height: 1.2
      margin: 0
      margin-bottom: 50px

    h3
      margin: 10px 0 25px
      font-weight: 500
    a
      display: inline-block
      margin-right: 10px
      margin-bottom: 10px

.cta-bg
  img
    position: relative
.accent-bg
  background-color: $m-accent

.cta-top-wrapper
  height: 470px

.cta-wrapper

.thin-t
  font-weight: 300
  
.alert-c
  color: $m-red

.accent-t
  color: $m-accent

.m-btn
  @extend .trans
  padding: 8px 30px
  color: $m-text
  border: 2px solid $m-text
  border-radius: 30px

  &:hover
    border-color: $m-accent
    color: $m-accent
    text-decoration: none
    
.trans
  transition: all .2s ease-in-out

.ul
  margin: 0
  padding: 0
  list-style: none

.hidden
  display: none
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.section-title
  margin-top: 50px
  margin-bottom: 70px
  text-align: center
  position: relative
  h2
    font-size: 20px
    text-transform: uppercase
    display: inline-block
    padding: 0 32px 40px
    letter-spacing: 3px
    font-weight: 400

    background-image: linear-gradient(to right, $m-sec-dot 33%, rgba(255,255,255,0) 0%)
    background-position: bottom
    background-size: 9px 3px
    background-repeat: repeat-x

.arrow-down
  display: inline-block
  line-height: 48px
  font-size: 14px
  position: absolute
  top: 85%
  left: 50%
  transform: translate(-50%, -50%) rotate(90deg) scaleY(1.5)
  background-color: $m-white

.description
  font-size: 19px
  color: $m-white
  margin: -30px 0 80px

  &-section
    background-color: $m-accent
    margin-top: -90px
    position: relative

.steps

  &-item
    text-align: center
    margin-bottom: 50px


    h3
      font-size: 15px

    p
      font-size: 14px
      color: $m-text-gray

    &:hover
      .steps-devider
        width: 100px

  &-img
    position: relative
    height: 150px
    width: 150px
    margin: 0 auto
    margin-bottom: 40px
    background-color: $m-accent
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%

    &:after
      content: ''
      display: block
      position: absolute
      height: 60px
      width: 60px
      background: url("../img/arrow-right.png") no-repeat
      top: 50%
      right: -100%
      transform: translateY(-50%)

    &:last-child
      &:after
        display: none

  &-devider
    display: inline-block
    height: 3px
    width: 50px
    background-color: $m-accent
    @extend .trans

.steps-img.step-last
  &:after
    display: none

.qualif

  &-title
    text-align: center
    position: relative
    margin-bottom: 50px

    h2
      font-size: 20px
      font-weight: 400
      display: inline-block
      background-color: white
      position: relative
      padding: 0 20px
      z-index: 1

    &:after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      display: block
      width: 100%
      height: 1px
      background-color: $m-black

  &-item
    margin-bottom: 40px

  &-img
    height: 135px
    width: 135px
    border: 2px solid $m-accent
    display: flex
    justify-content: center
    align-items: center

  &-text
    h4
      margin: 0 0 10px
      font-size: 15px
    p
      margin: 0
      font-size: 13px
      color: $m-text-gray

.input-box
  margin-bottom: 20px
  label
    display: block
    font-size: 14px
    font-weight: 700
    margin-bottom: 15px

    span
      font-weight: bold
      font-size: 16px

  input
    width: 100%
    padding: 10px 15px
    border: 1px solid $m-form-gray

.button-submit
  @extend .trans
  display: block
  width: 100%
  background-color: $m-accent
  color: #fff
  border: none
  border-radius: 5px
  text-transform: uppercase
  font-size: 16px
  padding: 11px 0
  margin-top: 20px

  &:hover
    background-color: lighten($m-accent, 20%)

.submit-form
  margin: 50px 0

footer
  background-color: $m-footer
  color: $m-white
  padding: 30px 0px

.terms
  float: right
  color: $m-white
  &:hover
    text-decoration: none
    color: $m-accent

  &-icon
    display: inline-block
    background: url('../img/icons/terms-icon.svg') no-repeat center
    height: 20px
    width: 20px
    vertical-align: middle
    margin-right: 8px

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

article
  margin-bottom: 30px
  background-color: lighten($m-indigo, 20%)
  
.art
  &-head
    background-color: $m-bluegray
    padding: 10px 20px
    h2
      color: $m-white
      margin: 0

  &-list
    @extend .ul
    color: $m-white

  &-desc
    background-color: lighten($m-gray, 20%)
    padding: 10px 20px
    p
      padding: 0



.img-box
  img
    width: 100%


//ALWAYS END
@import "sass/_media"